@import "reset"
@import "fonts"
@import "variables"
@import "typography"

@import "header"
@import "footer"

@import "components"
@import "sections/sections"

body
    font-family: Poppins
    font-size: 14px
    color: $mainColor
    background-color: $mainBcg  
a
  color: $mainColor
  &:hover
    opacity: 0.7  
    
@media only screen and (min-width: 1195px)
  .container
    min-width: 85%

@media only screen and (max-width: 1195px)
  .header